<?xml version="1.0"?>
<launch>

	<!-- CartesioTestsCpp robot description -->
	<param name="robot_description" textfile="$(find cartesio_tests_cpp)/robots/centauro/urdf/centauro.urdf" />
	<param name="robot_description_semantic" textfile="$(find cartesio_tests_cpp)/robots/centauro/srdf/centauro.srdf" />
	<param name="cartesian/problem_description" textfile="$(find cartesio_tests_cpp)/robots/centauro/task/centauro_stack.yaml"/>

	<node pkg="tf" type="static_transform_publisher" name="world_link_static_broadcaster" args="0 0 0 0 0 0 1 world base_link 10" />

	<!-- CartesioTestsCppROSClient launch cartesian interface -->
    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <!-- Control frequency (Hz) -->
        <arg name="rate" value="100.0"/>
        <!-- Spawn RviZ interacrive markers -->
        <arg name="markers" value="true"/>
        <!-- Set to false for fixed base  -->
        <arg name="is_model_floating_base" value="true"/>
    </include>

	<!-- CartesioTestsCpp load configuration file -->
	<rosparam file="$(find cartesio_tests_cpp)/configs/robots/CartesioTestsCpp.yaml" command="load"/>

	<!-- CartesioTestsCpp launch -->
	<node pkg="cartesio_tests_cpp" type="CartesioTestsCpp" name="CartesioTestsCpp" cwd = "node" respawn="false" output="screen"/>

	<!-- CartesioTestsCpp show in rviz -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find cartesio_tests_cpp)/configs/rviz/disp.rviz"/>

</launch>