<launch>

	<!-- CartesioTests robot description -->
	<param name="robot_description" textfile="$(find cartesio_tests_quickstart)/robots/coman/urdf/coman.urdf" />
	<param name="robot_description_semantic" textfile="$(find cartesio_tests_quickstart)/robots/coman/srdf/coman.srdf" />
    <param name="cartesian/problem_description" textfile="$(find cartesio_tests_quickstart)/robots/coman/task/coman_stack.yaml"/>

    <!-- CartesioTests launch cartesian interface -->
    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <!-- Control frequency (Hz) -->
        <arg name="rate" value="100.0"/>
        <!-- Spawn RviZ interacrive markers -->
        <arg name="markers" value="true"/>
        <!-- Set to false for fixed base  -->
        <arg name="is_model_floating_base" value="true"/>
    </include>

    <!-- CartesioTests show in rviz -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find cartesio_tests_quickstart)/configs/rviz/disp_quickstart.rviz"/>

</launch>