<?xml version="1.0"?>
<launch>

	<!-- CartesioTests robot description -->
	<param name="robot_description" textfile="$(find cartesio_tests_cpp)/robots/coman/urdf/coman.urdf" />
	<param name="robot_description_semantic" textfile="$(find cartesio_tests_cpp)/robots/coman/srdf/coman.srdf" />

	<!-- CartesioTests joints state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- CartesioTests show in rviz -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find cartesio_tests_cpp)/configs/rviz/disp.rviz"/>

	<!-- CartesioTests show in rviz -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="True" />
	</node>

	<!-- CartesioTests load configuration file -->
	<rosparam file="$(find cartesio_tests_cpp)/configs/CartesioTestsCpp.yaml" command="load"/>

	<!-- CartesioTests launch -->
	<node pkg="cartesio_tests_cpp" type="CartesioTests" name="CartesioTests" cwd = "node" respawn="false" output="screen" />
</launch>