<?xml version="1.0"?>
<launch>

	<!-- CartesioTests show robot on rviz -->
	<param name="robot_description" textfile="$(find cartesio_tests)/robots/coman/urdf/coman.urdf" />
	<param name="robot_description_semantic" textfile="$(find cartesio_tests)/robots/coman/srdf/coman.srdf" />

	<!-- CartesioTests joints state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- CartesioTests load configuration file -->
	<rosparam file="$(find cartesio_tests)/configs/CartesioTests.yaml" command="load"/>

	<!-- CartesioTests launch -->
	<node pkg="cartesio_tests" type="CartesioTests" name="CartesioTests" cwd = "node" respawn="false" output="screen" />
</launch>